.login {
  width: 100vw;
  height: 100vh;
  // 如果要使用绝对路径，需要使用~
  background-image: url('~assets/login.png');
  background-size: cover;
  position: relative;
  :global {
    .login-container {
      width: 440px;
      height: 360px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .login-logo {
      width: 200px;
      height: 60px;
      display: block;
      margin: 0 auto 20px;
    }
  }
}
